<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tian.dao.CommentMapper">


    <insert id="insert_one_comment" parameterType="Comment">
        insert into comment(uid, aid, comment_content, comment_time)
        values (#{comment.user.uid},#{comment.aid},#{comment.comment_content},#{comment.comment_time});
    </insert>

</mapper>